@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Lato", sans-serif;
  background-color: rgb(33, 32, 32);
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

footer {
  font-family: "Lato", sans-serif;
}

.fondo {
  background-color: rgb(253, 253, 239);
}

/* Barra navegación */
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
}
ul a:link {
  color: #44a2f8;
}
ul a:visited {
  color: #44a2f8;
}
ul a:hover {
  color: #15528c;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s;
  border-radius: 5px;
}
ul aa:active {
  color: #15528c;
}

.navcontainer__mobile {
  font-size: 20px;
  margin: 5px;
}

.navcontainer__desktop {
  display: none;
  font-size: 20px;
  margin: 5px;
}

.header {
  padding: 10px 20px;
}

.navcontainer {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navcontainer__mobile-img {
  margin-top: 35px;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .navcontainer__desktop {
    display: flex;
  }
  .navcontainer__mobile {
    display: none;
  }
}
/* Inicio */
.inicontainer {
  margin: 0 auto;
  max-width: 1200px;
}
.inicontainer__tittle {
  width: 100%;
  margin: 40px auto;
  font-size: 50px;
  text-align: center;
}
.inicontainer__logodata {
  max-width: 400px;
  margin: 0 auto;
  padding-left: 50px;
}
.inicontainer__logodata-options {
  width: 20px;
  position: relative;
  left: 150px;
  bottom: 80px;
  color: #44a2f8;
}
.inicontainer__logodata-options-links {
  width: 20px;
  color: #44a2f8;
  font-size: 16px;
  text-decoration: none;
}
.inicontainer__logodata-logoimg {
  width: 200px;
}
.inicontainer__desc {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  padding: 25px;
  min-width: 300px;
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .inicontainer__logodata-options {
    left: 300px;
    bottom: 150px;
  }
  .inicontainer__logodata-options-links {
    font-size: 25px;
  }
  .inicontainer__desc {
    font-size: 50px;
  }
  .inicontainer__logodata {
    padding-left: 0px;
  }
  .inicontainer__logodata-logoimg {
    width: 400px;
  }
}
/* Conctacto */
.formcontainer {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1600px;
}
.formcontainer__data {
  padding-top: 30px;
  max-width: 1600px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.formcontainer__data-datain {
  background-color: rgb(237, 237, 217);
  max-width: 520px;
  padding: 10px;
  border: #15528c;
  border-radius: 5px;
  border-style: solid;
  margin-right: 40px;
  box-shadow: -23px 22px 14px 0px rgba(0, 0, 0, 0.2);
}
.formcontainer__data-datain-formline {
  padding: 10px 10px;
  border: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-style: solid;
}
.formcontainer__data-datain-formline-coment {
  max-width: 200px;
  padding: 0 10px;
}
.formcontainer__data-datain-formline-label {
  width: 150px;
  font-size: 18px;
}
.formcontainer__data-datain-formline-input {
  max-width: 500px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-align: start;
}
.formcontainer__data-datain-submit {
  margin-top: 10px;
  padding: 5px;
}
.formcontainer__data-img {
  display: none;
}
.formcontainer__tittle {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .formcontainer__data-img {
    max-height: 350px;
  }
  .formcontainer__data-datain-formline-input {
    padding-left: 10px;
    padding-right: 110px;
  }
  .formcontainer__data-datain-formline-coment {
    max-width: 470px;
  }
}
@media (min-width: 992px) {
  .formcontainer__data {
    display: flex;
    padding-top: 100px;
  }
  .formcontainer__data-img {
    display: block;
    max-height: 450px;
  }
}
@media (min-width: 1200px) {
  .formcontainer__data-img {
    max-height: 500px;
  }
}
/* proyectos */
.prjcontainer {
  margin: 0 auto;
  max-width: 1600px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0 20px;
  align-items: center;
}

.prjcard {
  max-width: 1600px;
  border: 3px solid black;
  padding: 10px 10px;
  box-shadow: -23px 22px 14px 0px rgba(0, 0, 0, 0.2);
}
.prjcard__tittleinfo {
  display: flex;
  padding-top: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prjcard__tittleinfo-tittle {
  text-align: center;
  font-size: 30px;
}
.prjcard__desc {
  text-align: justify;
}
.prjcard__carousel {
  max-width: 1600px;
  margin: 0 auto;
}
.prjcard__carouseldesing h5 {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.prjcard__carouseldesing p {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.header__prjmoreinfo {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 110px;
  text-align: center;
}
.header__prjmoreinfo a {
  color: #44a2f8;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .prjcontainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width: 992px) {
  .prjcontainer {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}
/* Nosotros */
.aboutcontainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.aboutcontainer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.aboutcontainer__info-pcont {
  padding-right: 20px;
}
.aboutcontainer__info-pcont-p {
  font-size: 20px;
}
.aboutcontainer__info-img {
  max-width: 1600px;
  width: 300px;
}
.aboutcontainer__info-desimg {
  font-style: italic;
  font-size: 15px;
  text-align: center;
}
.aboutcontainer__tittle {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.aboutlocal {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutlocal__info {
  margin-right: 40px;
}
.aboutlocal__info-map {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.aboutlocal__info-list {
  font-size: 18px;
}
.aboutlocal__info-list-items {
  padding: 10px 0;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .aboutlocal__local-map {
    width: 600px;
    height: 300px;
  }
  .aboutcontainer__info-img {
    width: 600px;
    height: 300px;
  }
}
@media (min-width: 992px) {
  .aboutcontainer__info {
    flex-direction: row;
  }
  .aboutcontainer__info-img {
    width: 600px;
    height: 300px;
  }
  .aboutlocal {
    flex-direction: row;
  }
  .aboutlocal__local-map {
    width: 800px;
    height: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
