/* Inicio */
.inicontainer{
    margin: $marginCenterX;
    max-width: $maxWidht;
    color: $textColorPrimary;

    &__tittle{
        width: 100%;
        margin: 40px auto;
        font-size:50px;
        text-align: center;
    }

    &__logodata{
        max-width:400px;
        margin: $marginCenterX;
        padding-left: 50px;

        &-options {
            width: 20px;
            position: relative;
            left: 150px;
            bottom: 80px;
            color: $linkColorPrimary;    

            &-links{   
                width: 20px;
                color: $linkColorPrimary;
                font-size:16px;
                text-decoration: none;
            }
        }

        &-logoimg{
            width: 200px;
        }
    }

    &__desc{
        max-width: $maxWidht;
        margin: $marginCenterX;
        font-size:30px;
        text-align: center;
        padding: 25px;
        min-width: 300px;
    }
}

/* MEDIA QUERIES */

@media (min-width: $bpLarge) {

    .inicontainer__logodata-options {
        left: 300px;
        bottom: 150px;

        &-links{   
            font-size:25px;
        }
    }

    .inicontainer__desc{
        font-size:50px;
    }
    .inicontainer__logodata{
        padding-left: 0px;
    
        &-logoimg{
            width: 400px;
        }
    }
}
