/* proyectos */

.prjcontainer{
    margin: $marginCenterX;
    max-width: $maxWidht;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 20px;
    align-items: center;

}
.prjcard{
    max-width: $maxWidht;
    border: 3px solid black;
    padding: 10px 10px;
    box-shadow: -23px 22px 14px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    transition: $transition;
    &:hover{
        translate: 10px;
    }

    &__tittleinfo{
        display:flex;
        justify-content: space-between;
        padding-top: 5px;
    
        &-tittle{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            
        }
    }

    &__desc{
        text-align: justify;
    }

    &__tecn{
        font-size: 18px;
        font-weight: bold;
    }

    &__row{
        @include templateFlex(row, auto, false);

        &-type{
            font-size: 16px;
            font-weight: bold;
            margin: 0;
        }

        &-p{
            margin: 0;
            padding-left: 10px;

        }
    }
    &__carousel {
        max-width: $maxWidht;
        margin: $marginCenterX;
    }

    &__carouseldesing h5{
        color: black;
        background-color: rgb(255, 255, 255,0.5);
        border-radius: 5px;
    }

    &__carouseldesing p{
        color: black;
        background-color: rgb(255, 255, 255,0.5);
        border-radius: 5px;
    }
}


.header__prjmoreinfo{
    max-width: $maxWidht;
    margin: $marginCenterX;
    margin-top: 110px;
    text-align: center;

    & a{
        color: $linkColorPrimary;
        text-decoration: none;
    }
}



/* MEDIA QUERIES */
@media (min-width: $bpMedium) {

    .prjcontainer {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .prjcard{
        height: 1000px;
    }

}

@media (min-width: $bpLarge) {

    .prjcontainer {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .prjcard{
        height: 1000px;
    }
}
